
footer{
    flex:1 0 100%;
    background-color: #464547;
    height: 200px;
    padding:37px 0 78px 0;
}

footer .container{
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap:80px;
}

footer .container div:first-child{
    display:flex;
    align-items: center;
    margin-top: -60px;
}

footer img{
    margin-right: 16px;
}


#contact{
    max-width:174px;
    text-align: left;
}

#contact span{
    display:inline-block;
    margin-bottom: 27px;
}


footer .title{
    text-transform: uppercase;
    color:#FFFFFF;
    letter-spacing: 0.2em;
    font-size: 18px;
    line-height: 16px;
    font-weight:400;
}

footer span,
footer a,
footer small{
    color:rgba(255, 255, 255, 0.4);
    font-size:16px;
    font-weight: 400;
    line-height: 19px;
}

footer small{
    text-align: end;
    margin-top: 65px;
}

@media (max-width:768px){

    footer{
        height:auto;
    }
    
    footer .container{
        grid-template-columns: 1fr;
        gap:18px;
        place-items: center;
        text-align: center;
    }

    footer .container div:first-child{
        margin-top: 0;
    }

    footer .container #contact{
        text-align: center;
    }

    footer small{
        margin-top: 0;
    }
    
}